@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  max-width: 1280px;
  margin: 0 auto;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;

  @apply flex flex-col text-gray-600 md:flex-row;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-gray-900;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

h4 {
  @apply text-lg;
}

h5 {
  @apply text-base;
}

/* Lists */
ul {
  list-style-position: inside;
}

/* Colors */
.bg-custom-gradient {
  @apply bg-gradient-to-b from-purple-100 to-emerald-100;
}

/* Links */
@media (hover:hover) {
  a:hover {
    @apply text-gray-900;
  }
}

/* Buttons */
.button {
  @apply inline-block px-4 py-1 border-2 border-gray-400 rounded-md;

  @media (hover:hover) {
    &:hover {
      @apply bg-gray-300 bg-opacity-10 border-gray-600;
    }
  }
}
